# Assignment 6: Data Wrangling with Merge, Concat, and Reshape

**Deliverable:** Completed notebook with output files in `output/`

---

## Setup

First, make sure you've generated the data by running `data_generator.ipynb`.

In [1]:
import pandas as pd
import numpy as np
import os

# Verify data files exist
required_files = ["data/customers.csv", "data/products.csv", "data/purchases.csv"]
for file in required_files:
    if not os.path.exists(file):
        raise FileNotFoundError(f"{file} not found. Run data_generator.ipynb first!")

print("✓ All data files found")

✓ All data files found

---

## Dataset Column Reference

Use this reference when writing merge operations and selecting columns. Each dataset's columns are listed below with their data types and descriptions.

**`customers.csv` columns:**
- `customer_id` - Unique ID (C001, C002, ...)
- `name` - Customer full name
- `city` - Customer city
- `signup_date` - Registration date

**`products.csv` columns:**
- `product_id` - Unique ID (P001, P002, ...)
- `product_name` - Product name
- `category` - Product category (Electronics, Clothing, Home & Garden, Books, Sports)
- `price` - Product price in dollars

**`purchases.csv` columns:**
- `purchase_id` - Unique ID (T0001, T0002, ...)
- `customer_id` - Links to customers
- `product_id` - Links to products
- `quantity` - Number of items purchased
- `purchase_date` - Purchase date
- `store` - Store location (Store A, B, or C)

---

## Question 1: Merging Datasets

### Part A: Basic Merge Operations

Load the datasets and perform merge operations.

In [ ]:
# TODO: Load the three datasets
customers = pd.read_csv("data/customers.csv")  # Load data/customers.csv
products = pd.read_csv("data/products.csv")  # Load data/products.csv
purchases = pd.read_csv("data/purchases.csv")  # Load data/purchases.csv

# Display first few rows of each
print("Customers:")
display(customers.head())
print("\nProducts:")
display(products.head())
print("\nPurchases:")
display(purchases.head())

Customers:

  customer_id             name           city signup_date
0        C001      George Chen       Portland  2023-01-01
1        C002    Teresa Miller     Sacramento  2023-01-04
2        C003  Diana Rodriguez    Los Angeles  2023-01-07
3        C004         Eric Lee  San Francisco  2023-01-10
4        C005    George Miller        Seattle  2023-01-13

Products:

  product_id product_name     category    price
0       P001       Laptop  Electronics  1097.56
1       P002        Mouse  Electronics   457.12
2       P003     Keyboard  Electronics    85.26
3       P004      Monitor  Electronics   985.93
4       P005       Tablet  Electronics   306.81

Purchases:

  purchase_id customer_id product_id  quantity        purchase_date    store
0       T0001        C011       P042         1  2023-01-01 00:00:00  Store C
1       T0002        C070       P001         2  2023-01-01 04:00:00  Store A
2       T0003        C075       P029         1  2023-01-01 08:00:00  Store A
3       T0004        C053       P045         1  2023-01-01 12:00:00  Store C
4       T0005        C079       P049         3  2023-01-01 16:00:00  Store B

In [4]:
# TODO: Merge purchases with customers (left join)
# Keep all purchases, add customer information
purchase_customer = pd.merge(purchases, customers, on="customer_id", how="left")

display(purchase_customer.head(10))

,purchase_id,customer_id,product_id,quantity,purchase_date,store,name,city,signup_date
0,T0001,C011,P042,1,2023-01-01 00:00:00,Store C,Michael Rodriguez,Seattle,2023-01-31
1,T0002,C070,P001,2,2023-01-01 04:00:00,Store A,Eric Brown,Sacramento,2023-07-27
2,T0003,C075,P029,1,2023-01-01 08:00:00,Store A,Alice Wilson,Los Angeles,2023-08-11
3,T0004,C053,P045,1,2023-01-01 12:00:00,Store C,Diana Kim,Sacramento,2023-06-06
4,T0005,C079,P049,3,2023-01-01 16:00:00,Store B,Hannah Patel,Portland,2023-08-23
5,T0006,C010,P035,1,2023-01-01 20:00:00,Store C,Bob Jackson,Los Angeles,2023-01-28
6,T0007,C011,P040,3,2023-01-02 00:00:00,Store C,Michael Rodriguez,Seattle,2023-01-31
7,T0008,C092,P014,1,2023-01-02 04:00:00,Store C,Steve Garcia,Los Angeles,2023-10-01
8,T0009,C060,P035,1,2023-01-02 08:00:00,Store B,Alice Brown,Portland,2023-06-27
9,T0010,C030,P048,1,2023-01-02 12:00:00,Store B,Teresa Davis,Seattle,2023-03-29

In [5]:
# TODO: Merge the result with products to add product information
# Use left join to keep all purchases
full_data = pd.merge(purchase_customer, products, on="product_id", how="left")

display(full_data.head(10))

,purchase_id,customer_id,product_id,quantity,purchase_date,store,name,city,signup_date,product_name,category,price
0,T0001,C011,P042,1,2023-01-01 00:00:00,Store C,Michael Rodriguez,Seattle,2023-01-31,Dumbbells,Sports,402.17
1,T0002,C070,P001,2,2023-01-01 04:00:00,Store A,Eric Brown,Sacramento,2023-07-27,Laptop,Electronics,1097.56
2,T0003,C075,P029,1,2023-01-01 08:00:00,Store A,Alice Wilson,Los Angeles,2023-08-11,Candle,Home & Garden,162.72
3,T0004,C053,P045,1,2023-01-01 12:00:00,Store C,Diana Kim,Sacramento,2023-06-06,Running Shoes,Sports,400.96
4,T0005,C079,P049,3,2023-01-01 16:00:00,Store B,Hannah Patel,Portland,2023-08-23,Bicycle,Sports,60.58
5,T0006,C010,P035,1,2023-01-01 20:00:00,Store C,Bob Jackson,Los Angeles,2023-01-28,Magazine,Books,21.74
6,T0007,C011,P040,3,2023-01-02 00:00:00,Store C,Michael Rodriguez,Seattle,2023-01-31,Reference Book,Books,30.45
7,T0008,C092,P014,1,2023-01-02 04:00:00,Store C,Steve Garcia,Los Angeles,2023-10-01,Jacket,Clothing,145.27
8,T0009,C060,P035,1,2023-01-02 08:00:00,Store B,Alice Brown,Portland,2023-06-27,Magazine,Books,21.74
9,T0010,C030,P048,1,2023-01-02 12:00:00,Store B,Teresa Davis,Seattle,2023-03-29,Jump Rope,Sports,197.16

In [ ]:
# TODO: Calculate total_price for each purchase
# Multiply quantity by price to get the total cost
# Round to 2 decimal places
# Hint: full_data['total_price'] = (full_data['quantity'] * full_data['price']).round(2)

display(full_data.head(10))

### Part B: Join Type Analysis

Compare different join types to understand data relationships.

In [ ]:
# TODO: Inner join - only customers who made purchases
inner_result = None

print(f"Inner join result: {len(inner_result)} rows")
display(inner_result.head())

In [ ]:
# TODO: Left join - all customers (including those with no purchases)
left_result = None

print(f"Left join result: {len(left_result)} rows")
display(left_result.head())

In [ ]:
# TODO: Find customers who haven't made any purchases
# Hint: Use left join result and check where purchase_id is NaN
# Use .isna() to find NaN values: left_result[left_result['purchase_id'].isna()]
no_purchases = None

print(f"Customers with no purchases: {len(no_purchases)}")
display(no_purchases.head())

### Part C: Multi-Column Merge

Merge on multiple columns when single columns aren't unique enough.

In [ ]:
# Create store-specific product pricing
# (Different stores may have different prices for same product)
store_pricing = pd.DataFrame(
    {
        "product_id": ["P001", "P001", "P002", "P002", "P003", "P003"],
        "store": ["Store A", "Store B", "Store A", "Store B", "Store A", "Store B"],
        "discount_pct": [5, 10, 8, 5, 0, 15],
    }
)

# TODO: Merge purchases with store_pricing on BOTH product_id AND store
# Hint: Use on=['product_id', 'store']
purchases_with_discount = None

display(purchases_with_discount.head(10))

### Part D: Save Results

In [ ]:
# Create output directory
os.makedirs("output", exist_ok=True)

# TODO: Save full_data to output/q1_merged_data.csv
# Hint: Use .to_csv() with index=False

print("✓ Saved output/q1_merged_data.csv")

In [ ]:
# Create a validation report
validation_report = f"""
Question 1 Validation Report
============================

Dataset Sizes:
  - Customers: {len(customers)} rows
  - Products: {len(products)} rows
  - Purchases: {len(purchases)} rows

Merge Results:
  - Full merged data: {len(full_data)} rows
  - Inner join: {len(inner_result)} rows
  - Left join: {len(left_result)} rows
  - Customers with no purchases: {len(no_purchases)}

Data Quality:
  - Missing customer names: {full_data["name"].isna().sum()}
  - Missing product names: {full_data["product_name"].isna().sum()}
"""

# TODO: Save validation_report to output/q1_validation.txt
# Hint: Use open() with 'w' mode

print("✓ Saved output/q1_validation.txt")

---

## Question 2: Concatenating DataFrames

### Part A: Vertical Concatenation

Combine multiple DataFrames by stacking rows.

In [ ]:
# Split purchases into quarterly datasets
q1_purchases = purchases[purchases["purchase_date"] < "2023-04-01"]
q2_purchases = purchases[
    (purchases["purchase_date"] >= "2023-04-01")
    & (purchases["purchase_date"] < "2023-07-01")
]
q3_purchases = purchases[
    (purchases["purchase_date"] >= "2023-07-01")
    & (purchases["purchase_date"] < "2023-10-01")
]
q4_purchases = purchases[purchases["purchase_date"] >= "2023-10-01"]

print(f"Q1: {len(q1_purchases)} purchases")
print(f"Q2: {len(q2_purchases)} purchases")
print(f"Q3: {len(q3_purchases)} purchases")
print(f"Q4: {len(q4_purchases)} purchases")

In [ ]:
# TODO: Concatenate all quarters back together
# Use ignore_index=True for clean sequential indexing
# Hint: pd.concat([df1, df2, df3, df4], ignore_index=True)
all_purchases = None

print(f"Total after concat: {len(all_purchases)} purchases")
display(all_purchases.head())
print(
    f"\nVerify total rows: {len(q1_purchases)} + {len(q2_purchases)} + {len(q3_purchases)} + {len(q4_purchases)} = {len(all_purchases)}"
)

### Part B: Horizontal Concatenation

Add related information as new columns.

In [ ]:
# Create customer satisfaction scores (subset of customers)
satisfaction = pd.DataFrame(
    {
        "customer_id": customers["customer_id"].sample(50, random_state=42),
        "satisfaction_score": np.random.randint(1, 11, size=50),
        "survey_date": pd.date_range("2023-12-01", periods=50, freq="D"),
    }
)

# Create customer loyalty tier (different subset)
loyalty = pd.DataFrame(
    {
        "customer_id": customers["customer_id"].sample(60, random_state=123),
        "tier": np.random.choice(["Bronze", "Silver", "Gold", "Platinum"], size=60),
        "points": np.random.randint(100, 10000, size=60),
    }
)

# Set customer_id as index for both
satisfaction = satisfaction.set_index("customer_id")
loyalty = loyalty.set_index("customer_id")

print("Satisfaction scores:")
display(satisfaction.head())
print("\nLoyalty tiers:")
display(loyalty.head())

In [ ]:
# TODO: Horizontal concat to combine satisfaction and loyalty
# Use outer join to keep all customers from both datasets
# Hint: pd.concat([df1, df2], axis=1, join='outer')
customer_metrics = None

display(customer_metrics.head(10))

In [ ]:
# Handle misaligned indexes - how many NaN values?
print(
    f"Missing satisfaction scores: {customer_metrics['satisfaction_score'].isna().sum()}"
)
print(f"Missing loyalty tiers: {customer_metrics['tier'].isna().sum()}")

In [ ]:
# TODO: Save customer_metrics to output/q2_combined_data.csv
# Hint: Use .to_csv() - index will be saved automatically

print("✓ Saved output/q2_combined_data.csv")

---

## Question 3: Reshaping and Analysis

### Part A: Pivot Table Analysis

Transform data to analyze patterns.

In [ ]:
# TODO: Load the merged data from Question 1
# This already has purchases merged with customers and products (and total_price calculated)
# Hint: pd.read_csv('output/q1_merged_data.csv')
full_data = None

# Add month column for grouping (YYYY-MM format like "2023-01")
full_data["month"] = pd.to_datetime(full_data["purchase_date"]).dt.strftime("%Y-%m")

display(full_data.head())

In [ ]:
# TODO: Create pivot table - sales by category and month
# Use pivot_table to handle duplicate entries (aggregate with sum)
# Hint: pd.pivot_table(df, values='total_price', index='month', columns='category', aggfunc='sum')
sales_pivot = None

display(sales_pivot)

In [ ]:
# TODO: Save sales_pivot to output/q3_category_sales_wide.csv
# Hint: Use .to_csv()

print("✓ Saved output/q3_category_sales_wide.csv")

### Part B: Melt and Long Format

Convert wide format back to long for different analysis.

In [ ]:
# Reset index to make month a column
sales_wide = sales_pivot.reset_index()

# TODO: Melt to convert category columns back to rows
# Hint: pd.melt(df, id_vars=['month'], var_name='category', value_name='sales')
sales_long = None

display(sales_long.head(15))

In [ ]:
# TODO: Calculate summary statistics using the long format
# Group by category and calculate total sales, average monthly sales
# Hint: Use .groupby('category')['sales'].agg(['sum', 'mean']) and sort by sum descending
category_summary = None

display(category_summary)

In [ ]:
# Create final analysis report
analysis_report = f"""
Question 3 Analysis Report
==========================

Sales by Category (Total):
{category_summary.to_string()}

Time Period:
  - Start: {full_data["purchase_date"].min()}
  - End: {full_data["purchase_date"].max()}
  - Months: {full_data["month"].nunique()}

Top Category: {category_summary.index[0]}
Bottom Category: {category_summary.index[-1]}
"""

# TODO: Save analysis_report to output/q3_analysis_report.txt
# Hint: Use open() with 'w' mode

print("✓ Saved output/q3_analysis_report.txt")